.sidebar_parent_link {
    font-size: 15px;
    font-weight: 400;
    color: #144339;
    padding: 0 25px 0 0;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 34px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: 0 0;
    color: #8890b5;
    font-family: mulish, sans-serif;
    padding: 10px 10px 10px 26px;
    background: #fff;
    border-radius: 0 30px 30px 0;
    border-radius: 15px
}

.sidebar_parent_link:hover {
    color: #f65365 !important;
    background: #f6f7fb
}

.sidebar_parent_link.active {
    color: #f65365;
    background: #f8fafc;
    border-radius: 15px
}

.sidebar_parent_link::after {
    color: #fff;
    transform: rotate(-90deg) translate(0, -50%);
    opacity: 1;
    font-size: 10px;
    right: 15px;
    color: #a1a4b9
}

.sidebar_parent_link i {
    font-size: 15px;
    margin-right: 12px;
    color: #a5adc6;
    -webkit-transition: .5s;
    transition: .5s
}

.sidebar_parent_link:hover::before {
    width: 6px;
    opacity: 1;
    visibility: visible
}

.sidebar #sidebar_menu>li>a {
    color: #144339
}

.cursor-pointer {
    cursor: pointer;
}

input[aria-invalid="true"] {
    border-color: #ff4d4f !important;
}

.text-danger {
    color: #ff4d4f !important;
}

.btn-admin-primary {
    color: #fff !important;
    background-color: #884ffb !important;
    border-color: #884ffb !important;
    font-weight: 600;
    height: 45px;
    border-radius: 26px;
    text-transform: uppercase;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.btn-admin-primary:hover {
    color: #fff;
    background-color: #884ffbe6 !important;
    border-color: #884ffbe6 !important;
}

/* password field */
.pass_show {
    position: relative
}

.pass_show .ptxt {

    position: absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color: #f36c01;

    margin-top: -10px;

    cursor: pointer;

    transition: .3s ease all;

}

.pass_show .ptxt:hover {
    color: #333333;
}