html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://cdn.pixabay.com/photo/2018/11/29/21/19/hamburg-3846525_960_720.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.window {
  width: 400px;
  height: 380px;
  padding: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;

  backdrop-filter: blur(20px) brightness(100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
input[type="email"],
input[type="password"] {
  border-radius: 8px;
  border: 1px solid white;
  color: white !important;
  background: transparent;
}
form {
  width: 100%;
}
input[type="email"]:focus,
input[type="password"]:focus {
  background: #00000040;
  box-shadow: none;

  border: 1px solid white;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: white;
}
input[type="submit"] {
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.custom-btn-login {
  border-radius: 8px !important;
  border: 1px solid white;
  color: white !important;
  background: transparent;
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  background: transparent !important;
}

.custom-btn-login:hover {
  background-color: white !important;
  color: black !important;
}

.window .form-control {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white;
  border-radius: 8px !important;
}

.window .text-danger {
  color: white !important;
  text-align: left;
}

.window .form-control::placeholder {
  color: white !important;
}

.window input[aria-invalid="true"],
textarea[aria-invalid="true"] {
  border-color: #ffb4b5 !important;
}

.window .ptxt {
  color: white !important;
}

.navbar-area {
  display: none;
}

.is-sticky {
  display: block !important;
}

.top_home_wrapper {
  position: relative;
  height: 80vh;
}

#home_one_banner {
  padding: 0px;
  height: 100%;
}

#theme_search_form {
  position: absolute;
  top: calc(60% - 120.5px);
  width: 100%;
  margin: 0px;
}
.theme_search_form_tabbtn .nav-tabs {
  position: absolute;
  background: white;
  top: -36px;
  border-radius: 10px;
  overflow: hidden;
  left: calc(50% - 165px);
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 40%);
}
.theme_search_form_tabbtn .nav-tabs .nav-link {
  border-radius: 0px !important;
  border: none;
  padding: 25px 30px;
}

.blurry {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(6px) brightness(80%);
}

.my-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(2px) brightness(60%);
}

/* .slider-for .slick-list {
  height: 400px !important;
}

.slider-for .slick-slide img {
  height: 100% !important;
} */
.slider-nav .slick-slide {
  height: 180px !important;
  width: 180px !important;
  margin: 0px 10px !important;
}

.slider-nav img,
.slider-nav .slick-slide div {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-filter-nav-wrapper {
  background-color: #0a223d;
  position: sticky;
  top: 79px;
  z-index: 99999;
  color: white;
  padding: 13px 0px;
}
.search-bar-items {
  margin-top: -66px;
}
.all-input-wrapper {
  display: flex;
  justify-content: center;
}
.input-wrap {
  margin-right: 24px;
}

.custom-filter-nav-wrapper input:focus {
  color: black;
}

.custom-filter-nav-wrapper input {
  height: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-filter-nav-wrapper .input-wrap input:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-filter-nav-wrapper .input-wrap .btn-admin-primary {
  height: 40px;
}

.custom-filter-nav-wrapper .input-wrap input::placeholder {
  color: azure !important;
  opacity: 1; /* Firefox */
}

.custom-filter-nav-wrapper .input-wrap input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: azure;
}

.custom-filter-nav-wrapper .input-wrap input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: azure;
}
.custom-filter-nav-wrapper .input-wrap input {
  color: azure;
}

.info-wrapper {
  display: flex !important;
  align-items: center;
  position: relative;
}

.info-wrapper img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
}

/* .topbar-list a,
.topbar-list p {
  color: rgba(0, 0, 0, 0.6) !important;
} */

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.navbar-type2 .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-type2 .logo-wrapper .logo {
  height: 40px;
  padding: 7px;
  border: 1px solid white;
}

.navbar-type2 .logo-wrapper .logo img {
  height: 100%;
  width: 100%;
}

.navbar-type2 .text-nav-wrapper .navigation {
  display: flex !important;
  align-items: center;
  margin-bottom: 0px;
}

.navbar-type2 .text-nav-wrapper .navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item a {
  color: white;
}
.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item {
  margin: 5px 15px;
}
.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item a {
  color: black;
  display: flex;
  flex-direction: column;
}
.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item a img {
  /* filter: invert(1); */
  height: 30px;
}

.navbar-type2.is-sticky
  .text-nav-wrapper
  .navbar-collapse
  .navigation
  .nav-item
  a
  img {
  /* filter: invert(1); */
  filter: brightness(0) !important;
  height: 30px;
}
.navbar-type2.is-sticky
  .text-nav-wrapper
  .navbar-collapse
  .navigation
  .nav-item
  a.nav-link,
.navbar-type2.is-sticky .others-options .option-item a {
  color: black;
}

.navbar-type2
  .text-nav-wrapper
  .navbar-collapse
  .navigation
  .nav-item
  a.nav-link,
.navbar-type2 .others-options .option-item a {
  color: white;
}

.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item a img {
  filter: invert(1);
  height: 30px;
}

.navbar-type2 .btn {
  /* background-color: transparent !important; */
  /* color: rgb(255, 255, 255); */
  /* border: 1px solid white; */
}

/* .............................nav-3............... */

.navbar-type3 .nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.navbar-type3 .logo-wrapper .logo {
  height: 60px;
  padding: 7px;
  border: 1px solid white;
}

.navbar-type3 .logo-wrapper .logo img {
  height: 100%;
  width: 100%;
}

.navbar-type3 .text-nav-wrapper .navigation {
  display: flex !important;
  align-items: center;
}

.navbar-type3 .text-nav-wrapper .navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-type3 .text-nav-wrapper .navbar-collapse .navigation .nav-item a {
  color: white;
}
.navbar-type3 .text-nav-wrapper .navbar-collapse .navigation .nav-item {
  margin: 5px 15px;
}
.navbar-type3 .text-nav-wrapper .navbar-collapse .navigation .nav-item a {
  color: black;
  display: flex;
  flex-direction: column;
}
.navbar-type3 .text-nav-wrapper .navbar-collapse .navigation .nav-item a img {
  /* filter: invert(1); */
  height: 30px;
}
/* ...........test....... */
#theme_search_form {
  /* display: none !important; */
}

.navbar-type2.navbar-area.is-sticky {
  background-color: white !important;
}

.ant-select-selector {
  overflow-y: auto;
}

.user_image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light {
  top: 15px;
  left: -30px;
}

.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light
  li {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.custom-edit-profile {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.custom-edit-profile i {
  margin-right: 10px;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.sleeping_wrapper {
  padding: 8px 0px !important;
}
.sleeping_wrapper p {
  margin-bottom: 0px;
}

.sleeping_wrapper p:first-child {
  margin-top: 8px;
}

.sleeping_wrapper p:last-child {
  margin-bottom: 8px;
}
.sticky-sidebar {
  top: 85px;
  position: sticky;
}
.w-100 {
  width: 100%;
}

.contextmenu_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.context_room_detail {
  font-size: 16px;
}

.context_room_price {
  font-size: 16px;
}
.ml-2 {
  margin-left: 1rem;
}
.Fgnmg {
  background-color: #f5f5f9 !important;
}

.booking_bottom {
  color: white !important;
}

.table_room_title {
  color: var(--main-color);
  cursor: pointer;
}

.table_room_title:hover {
  color: lighten(var(--main-color));
}
