html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://cdn.pixabay.com/photo/2018/11/29/21/19/hamburg-3846525_960_720.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.window {
  width: 400px;
  height: 380px;
  padding: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;

  backdrop-filter: blur(20px) brightness(100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
input[type="email"],
input[type="password"] {
  border-radius: 8px;
  border: 1px solid white;
  color: white !important;
  background: transparent;
}
form {
  width: 100%;
}
input[type="email"]:focus,
input[type="password"]:focus {
  background: #00000040;
  box-shadow: none;

  border: 1px solid white;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: white;
}
input[type="submit"] {
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.custom-btn-login {
  border-radius: 8px !important;
  border: 1px solid white;
  color: white !important;
  background: transparent;
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  background: transparent !important;
}

.custom-btn-login:hover {
  background-color: white !important;
  color: black !important;
}

.window .form-control {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white;
  border-radius: 8px !important;
}

.window .text-danger {
  color: white !important;
  text-align: left;
}

.window .form-control::placeholder {
  color: white !important;
}

.window input[aria-invalid="true"],
textarea[aria-invalid="true"] {
  border-color: #ffb4b5 !important;
}

.window .ptxt {
  color: white !important;
}

.navbar-area {
  display: none;
}

.is-sticky {
  display: block !important;
}

.top_home_wrapper {
  position: relative;
  height: 80vh;
}

#home_one_banner {
  padding: 0px;
  height: 100%;
}

#theme_search_form {
  position: absolute;
  top: calc(60% - 120.5px);
  width: 100%;
  margin: 0px;
}
.theme_search_form_tabbtn .nav-tabs {
  position: absolute;
  background: white;
  top: -36px;
  border-radius: 10px;
  overflow: hidden;
  left: calc(50% - 165px);
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 40%);
}
.theme_search_form_tabbtn .nav-tabs .nav-link {
  border-radius: 0px !important;
  border: none;
  padding: 25px 30px;
}

.blurry {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(6px) brightness(80%);
}

.my-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(2px) brightness(60%);
}

/* .slider-for .slick-list {
  height: 400px !important;
}

.slider-for .slick-slide img {
  height: 100% !important;
} */
.slider-nav .slick-slide {
  height: 180px !important;
  width: 180px !important;
  margin: 0px 10px !important;
}

.slider-nav img,
.slider-nav .slick-slide div {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-filter-nav-wrapper {
  background-color: #0a223d;
  position: sticky;
  top: 79px;
  z-index: 99999;
  color: white;
  padding: 13px 0px;
}
.search-bar-items {
  margin-top: -66px;
}
.all-input-wrapper {
  display: flex;
  justify-content: center;
}
.input-wrap {
  margin-right: 24px;
}

.custom-filter-nav-wrapper input:focus {
  color: black;
}

.custom-filter-nav-wrapper input {
  height: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-filter-nav-wrapper .input-wrap input:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-filter-nav-wrapper .input-wrap .btn-admin-primary {
  height: 40px;
}

.custom-filter-nav-wrapper .input-wrap input::placeholder {
  color: azure !important;
  opacity: 1; /* Firefox */
}

.custom-filter-nav-wrapper .input-wrap input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: azure;
}

.custom-filter-nav-wrapper .input-wrap input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: azure;
}
.custom-filter-nav-wrapper .input-wrap input {
  color: azure;
}

.info-wrapper {
  display: flex !important;
  align-items: center;
  position: relative;
}

.info-wrapper img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
}

/* .topbar-list a,
.topbar-list p {
  color: rgba(0, 0, 0, 0.6) !important;
} */

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.navbar-type2 .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-type2 .logo-wrapper .logo {
  height: 40px;
  padding: 7px;
  border: 1px solid white;
}

.navbar-type2 .logo-wrapper .logo img {
  height: 100%;
  width: 100%;
}

.navbar-type2 .text-nav-wrapper .navigation {
  display: flex !important;
  align-items: center;
  margin-bottom: 0px;
}

.navbar-type2 .text-nav-wrapper .navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item a {
  color: white;
}
.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item {
  margin: 5px 15px;
}
.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item a {
  color: black;
  display: flex;
  flex-direction: column;
}
.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item a img {
  /* filter: invert(1); */
  height: 30px;
}

.navbar-type2.is-sticky
  .text-nav-wrapper
  .navbar-collapse
  .navigation
  .nav-item
  a
  img {
  /* filter: invert(1); */
  filter: brightness(0) !important;
  height: 30px;
}
.navbar-type2.is-sticky
  .text-nav-wrapper
  .navbar-collapse
  .navigation
  .nav-item
  a.nav-link,
.navbar-type2.is-sticky .others-options .option-item a {
  color: black;
}

.navbar-type2
  .text-nav-wrapper
  .navbar-collapse
  .navigation
  .nav-item
  a.nav-link,
.navbar-type2 .others-options .option-item a {
  color: white;
}

.navbar-type2 .text-nav-wrapper .navbar-collapse .navigation .nav-item a img {
  filter: invert(1);
  height: 30px;
}

.navbar-type2 .btn {
  /* background-color: transparent !important; */
  /* color: rgb(255, 255, 255); */
  /* border: 1px solid white; */
}

/* .............................nav-3............... */

.navbar-type3 .nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.navbar-type3 .logo-wrapper .logo {
  height: 60px;
  padding: 7px;
  border: 1px solid white;
}

.navbar-type3 .logo-wrapper .logo img {
  height: 100%;
  width: 100%;
}

.navbar-type3 .text-nav-wrapper .navigation {
  display: flex !important;
  align-items: center;
}

.navbar-type3 .text-nav-wrapper .navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-type3 .text-nav-wrapper .navbar-collapse .navigation .nav-item a {
  color: white;
}
.navbar-type3 .text-nav-wrapper .navbar-collapse .navigation .nav-item {
  margin: 5px 15px;
}
.navbar-type3 .text-nav-wrapper .navbar-collapse .navigation .nav-item a {
  color: black;
  display: flex;
  flex-direction: column;
}
.navbar-type3 .text-nav-wrapper .navbar-collapse .navigation .nav-item a img {
  /* filter: invert(1); */
  height: 30px;
}
/* ...........test....... */
#theme_search_form {
  /* display: none !important; */
}

.navbar-type2.navbar-area.is-sticky {
  background-color: white !important;
}

.ant-select-selector {
  overflow-y: auto;
}

.user_image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light {
  top: 15px;
  left: -30px;
}

.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light
  li {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.custom-edit-profile {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.custom-edit-profile i {
  margin-right: 10px;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.sleeping_wrapper {
  /* padding: 8px 0px !important; */
  white-space: normal;
}
.sleeping_wrapper p {
  margin-bottom: 0px;
}

/* .sleeping_wrapper p:first-child {
  margin-top: 8px;
}

.sleeping_wrapper p:last-child {
  margin-bottom: 8px;
} */
.sticky-sidebar {
  top: 85px;
  position: sticky;
}
.w-100 {
  width: 100%;
}

.contextmenu_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.context_room_detail {
  font-size: 16px;
}

.context_room_price {
  font-size: 16px;
}
.ml-2 {
  margin-left: 1rem;
}
.Fgnmg {
  background-color: #f5f5f9 !important;
}

.booking_bottom {
  color: white !important;
}

.table_room_title {
  color: var(--main-color);
  cursor: pointer;
  margin: 0px;
  font-size: 1rem;
  font-weight: 700;
}

.table_room_title:hover {
  color: #592698;
}

.custom_pricing_detail {
  display: flex;
  align-items: center;
  justify-content: "center";
}

.custom_pricing_detail h6 {
  font-size: small;
  color: rgb(124, 9, 9);
}

.custom_pricing_detail h5 {
  margin-left: 1rem;
}
@media only screen and (min-width: 768px) {
  .small-screen-option {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-type2 .nav-wrapper {
    justify-content: center;
  }
  .big-screen-option {
    display: none !important;
  }
}

.nepali_price_wrapper {
  color: black;
}

.nepali_price_wrapper span {
  font-size: 12px !important;
  font-weight: 600;
}

.nepali_price_wrapper b {
  font-weight: 600 !important;
}
.strating_wrapper {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: 400 !important;
}

.show_on_map {
  position: relative;
  font-size: 0.84rem;
  font-weight: 500;
}
.show_on_map:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 4px;
  left: 0px;
  background-color: var(--main-color);
}
/* ............. Bus Css......................... */
.bus-card {
  margin: 15px 0 0;
  border-radius: 4px;
  border: 1px solid #cecece;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
.makeFlex {
  display: flex;
}
.flexOne {
  flex: 1;
}
.makeFlex.column {
  flex-direction: column;
}
.makeFlex.row {
  flex-direction: row;
}
.makeFlex.perfectCenter {
  align-items: center;
  justify-content: center;
}
.makeFlex.hrtlCenter {
  align-items: center;
}
.makeFlex.vrtlCenter {
  justify-content: center;
}
.makeFlex.spaceBetween {
  justify-content: space-between;
}
.makeFlex.spaceAround {
  justify-content: space-around;
}
.makeFlex.end {
  align-items: flex-end;
}
.makeFlex.top {
  align-items: flex-start;
}
.makeFlex.bottom {
  align-items: flex-end;
}
.makeFlex.wrap {
  flex-wrap: wrap;
}

.makeFlex {
  display: flex;
}

.makeFlex.column {
  flex-direction: column;
}
.bus-view-left {
  width: 100%;
  padding: 20px 20px 0 24px;
}
.appendBottom22 {
  margin-bottom: 22px;
}

.appendBottom8 {
  margin-bottom: 8px;
}

.makeFlex.hrtlCenter {
  align-items: center;
}
html[dir="ltr"] .appendRight15 {
  margin-right: 15px;
}
.blackText {
  color: #000000bf;
}
.latoBlack {
  font-weight: 900;
}
.font22 {
  font-size: 22px;
  line-height: 22px;
}
.font20 {
  font-size: 20px;
  line-height: 20px;
}
.hOSqgy {
  background-color: rgb(59, 89, 153);
  width: 40px;
  font-weight: 400;
  font-size: 10px;
  height: 22px;
  line-height: 23px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
.bfoMHl {
  font-weight: bold;
  font-size: 14px;
}
.lightGreyText {
  color: #9b9b9b;
}
.makeFlex.hrtlCenter {
  align-items: center;
}
.font12 {
  font-size: 12px;
  line-height: 12px;
}
.line-border-right {
  margin: 0 15px 0 16px;
  border-right: 1px solid #e7e7e7;
  height: 15px;
}
.fXgCif {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: rgb(0, 0, 0);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lajtry {
  margin-right: 0px;
}
.gKqGkn {
  background: url(//jsak.mmtcdn.com/bus_cdn_dt/static/media/busListingSprite.7d31d0d0.png) -204px -258px /
    300px 400px no-repeat;
  font-size: 0px;
  width: 24px;
  height: 24px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
}

.line-border-right {
  margin: 0 15px 0 16px;
  border-right: 1px solid #e7e7e7;
  height: 15px;
}
.koyVmu {
  font-size: 0px;
  background: url(//jsak.mmtcdn.com/bus_cdn_dt/static/media/ic-window.2ac21f9f.svg)
    no-repeat;
  width: 24px;
  height: 24px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
}
.appendBottom20 {
  margin-bottom: 20px;
}
.font16 {
  font-size: 16px;
  line-height: 16px;
}
.capText {
  text-transform: uppercase;
}
.line-border-top {
  width: 40px;
  height: 1px;
  margin: 13px 8px 10px;
  border-top: 1.4px solid #e7e7e7;
}
.deepskyBlueText {
  color: #008cff;
}
.noSelection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.latoBold {
  font-weight: 700;
}
.makeFlex .detail-header {
  display: flex;
  align-items: center;
  margin-right: 39px;
  padding-bottom: 12px;
  cursor: pointer;
}
html[dir="ltr"] .appendRight5 {
  margin-right: 5px;
}
.ic-blue-arrow {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.bus-card .price-section {
  width: 178px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  background-color: #f2f2f2;
  padding: 26px 20px 15px 29px;
  border-radius: 0 4px 4px 0;
}
.bPClQZ {
  display: inline-block;
  background-image: linear-gradient(96deg, rgb(83, 178, 254), rgb(6, 90, 243));
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 4px 0px;
  padding: 10px 20px;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
  width: 130px;
  user-select: none;
}
.appendRight15 {
  margin-right: 15px;
}
.dYlDBG {
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  color: rgb(0, 0, 0);
}
.details-container {
  -webkit-font-smoothing: antialiased;
  border-top: 1px solid #e7e7e7;
  padding: 19px 24px 20px;
}
/* ............. Bus Css......................... */

.number_heading {
  font-size: 26px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.8);
  margin-left: -15px;
}

.ant-menu-item-selected {
  color: blueviolet;
}

.ant-menu-item-selected::after,
.ant-menu-item:hover::after {
  border-bottom: 2px solid blueviolet !important;
}

.custom-seat {
  height: 30px;
  width: 40px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.empty-seat {
  height: 30px;
  width: 40px;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}
.seat-wrapper {
  gap: 3px;
  margin: 3px 0px;
}
.seat_container {
  display: flex;
  justify-content: space-between;
}
.all_seat_wrapper {
  position: relative;
}
.driver {
  position: absolute;
  left: -20px;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
  top: calc(50% - 12.5px);
  font-size: 30px;
  color: rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
.available_seats {
  background-color: white;
  color: rgba(0, 0, 0, 0.686);
  border: 1px solid rgba(0, 0, 0, 0.324);
}
.available_seats:hover {
  background-color: #59269897;
  color: white;
}
.selected_seat {
  background-color: #592698;
  color: white;
}
.legend_wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.legend_color_booked {
  height: 25px;
  border-radius: 3px;
  width: 25px;
  background-color: rgba(128, 25, 44, 0.9);
}
.legend_color_selected {
  height: 25px;
  border-radius: 3px;
  width: 25px;
  background-color: #592698;
}
.grey_btn {
  background-color: #4d171736 !important;
  color: black !important;
}
.custom_btn_seat {
  transition: none !important;
}
.custom_btn_seat:before {
  content: "";
  background: #562296 !important;
}
.seat-pending {
  height: 30px;
  border-radius: 3px;
  width: 40px;
  color: white;
  background-color: #bcb6c3;
}
.legend_color_pending {
  height: 25px;
  border-radius: 3px;
  width: 25px;
  background-color: #bcb6c3;
}
.legend_name {
  font-size: 13px;
  color: #3e4040;
}
.final_booked {
  background-color: rgba(128, 25, 44, 0.9);
  color: white;
  cursor: not-allowed;
}
.selected_seat:hover {
  background-color: #482474;
}

/* border radius select */
.border-radius-20 .ant-select-selector {
  border-radius: 20px !important;
  border-color: #592698;
  color: #592698;
}
.border-radius-20
  .ant-select:not(.ant-select-disabled):hover
  .ant-select-selector {
  border-color: #592698;
}

.flex-1 {
  flex: 1;
}

.ml-1 {
  margin-left: 10px;
}

.common_wrapper {
  background-color: #f3f6fd;
  padding: 45px 20px;
  align-items: center;
}

.common_wrapper .common_author_boxed {
  flex: 3;
}

.common_wrapper .extra_details {
  flex: 2;
  /* padding: 15px 20px; */
  background: white;
  border-radius: 10px !important;
  box-shadow: -1px -1px 10px #e8e8e8;
  position: relative;
  overflow: hidden;
}

.common_wrapper .extra_details .detail_title {
  font-size: 16px !important;
  margin-bottom: 12px;
  font-weight: 600;
  padding: 5px 20px;
  background-color: #592698;
  color: white;
}

.common_wrapper .extra_details .detail_listing_wrapper {
  padding: 0px 8px;
}

.common_wrapper .extra_details .detail_listing_wrapper .detail_list_item {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #0000001c;
}

.common_wrapper
  .extra_details
  .detail_listing_wrapper
  .detail_list_item:last-child {
  border-bottom: none;
}
.color-primary {
  color: #592698 !important;
}

.login_title {
  font-weight: 700;
}

.custom_bus_select .ant-select-selector {
  background-color: transparent !important;
  border: none !important;
  margin-left: -11px !important;
}
.ant-select-focused.custom_bus_select {
  border-color: red !important;
}

.custom_bus_select .ant-select-selection-item {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 22px;
  font-weight: 500;
}

.bus_dropdown {
  padding: 5px 15px !important;
  background: #8b3eea0a !important;
  border-radius: 6px !important;
}
.bus_title_filter {
  margin-bottom: 6px !important;
}
.custom_bus_select .ant-select-arrow {
  overflow: visible;
  margin-top: -15px;
}
.custom_bus_select .ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border: 1px solid red;
  border-color: red !important;
  box-shadow: none !important;
}

.home_dropdown .dropdown-menu {
  min-width: 283px !important;
}

.home_dropdown .custom-dropDown {
  top: -12px !important;
  left: -37px !important;
  border-radius: 5px !important;
}

.dashboard_main_top .dashboard_top_boxed {
  padding: 10px !important;
  justify-content: space-around;
}

.dashboard_main_top .dashboard_top_boxed .dashboard_top_icon img {
  height: 40px;
  width: 40px;
}

.dashboard_main_top .dashboard_top_boxed .dashboard_top_text h1 {
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 0px;
  text-align: right;
  font-weight: 700;
}

.dashboard_main_top .dashboard_top_boxed .dashboard_top_text h3 {
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.custom_detail_card {
  display: flex !important;
  flex-wrap: nowrap;
  gap: 25px;
  justify-content: center;
}
.user_name_profile {
  font-size: medium;
  color: black;
  font-weight: 600;
}

.primary_color {
  color: black;
}

.custom_profile_menu .ant-menu-overflow-item.ant-menu-item {
  display: flex;
  align-items: center;
}

#footer_area {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgba(117, 19, 93, 0.6)
    ),
    url("https://mail.google.com/mail/u/0?ui=2&ik=35b11e706c&attid=0.8&permmsgid=msg-f:1755831265105066298&th=185df73b9a1cb93a&view=fimg&realattid=f_ld90srrj7&disp=thd&attbid=ANGjdJ9MQrwBMK8EvQ5YBcvU3eET8Dl9TbfWtHU48D7eAwsntNSCQDgdbC_ED7plIYXcJBEj94Xn39VPeq_R5_22PuR0oLxqUD2Ny73XCBj95D9-SNLtPT8KjtjK5WU&ats=2524608000000&sz=w1920-h950");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#footer_area * {
  color: white;
}

.tabs_bus_booking {
  background: #bbbbbb14;
}

.timeline_bus .ant-timeline-item-head-custom {
  background-color: #fafafa !important;
}

.pick_drop_text {
  font-weight: 900 !important;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 8px;
}
.modal_form_style
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: 0px 1px 13px 0px #0000000d;
  height: 52px !important;
  margin: auto;
  display: flex;
  align-items: center;
  border: none;
}
